<h1>添加书籍：</h1>
<div>
    <form class="form-horizontal" role="form" action="~/Book/DoBook/DoAddBook" method="post">
        <div class="form-group">
            <label for="BookID" class="col-sm-2 control-label">书籍编号：</label>
            <div class="col-lg-10">
                <input name="BookID" type="text" class="form-control" id="BookID" placeholder="请输入书籍编号" />
            </div>
        </div>
        <div class="form-group">
            <label for="BookName" class="col-sm-2 control-label">书籍名称：</label>
            <div class="col-lg-10">
                <input name="Name" type="text" class="form-control" id="BookName" placeholder="请输入书籍名称" />
            </div>
        </div>
        <div class="form-group">
            <label for="BookPrice" class="col-sm-2 control-label">书籍价格：</label>
            <div class="col-lg-10">
                <input name="Price" type="text" class="form-control" id="BookPrice" placeholder="请输入书籍价格" />
            </div>
        </div>
        <div class="form-group">
            <label for="BookAuthor" class="col-sm-2 control-label">书籍作者：</label>
            <div class="col-lg-10">
                <input name="Author" type="text" class="form-control" id="BookAuthor" placeholder="请输入书籍作者" />
            </div>
        </div>
        <div class="form-group">
            <label for="BookQuantity" class="col-sm-2 control-label">书籍在馆数量：</label>
            <div class="col-lg-10">
                <input name="Quantity" type="text" class="form-control" id="BookQuantity" placeholder="请输入书籍数量" />
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-lg">提交</button>
        </div>
</form>
</div>
