<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>图书管理系统</h1>
</div>
<h3>请完成登录或者注册操作：</h3>
<div>
    <form class="form-horizontal" role="form" action="~/Student/Account/DoLogin" method="post">
        <div class="form-group">
            <label for="uid" class="col-sm-2 control-label">用户名：</label>
            <div class="col-lg-10">
                <input type="text" name="StudentUserName" class="form-control" id="username" placeholder="请输出用户名" />
            </div>
        </div>
        <div class="form-group">
            <label for="pwd" class="col-lg-2 control-label">密码：</label>
            <div class="col-lg-10">
                <input type="text" name="StudentPwd" class="form-control" id="pwd" placeholder="请输入密码" />
            </div>
        </div>
        <div>
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosinline" id="optionsRadio1" value="option1" checked />学生
            </label>
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosinline" id="optionsRadio2" value="option2">管理员
            </label>
        </div>
        <button type="submit" class="btn btn-default">登录</button>
        &nbsp&nbsp
        <a href="/Student/Account/Register">
            <button type="button" class="btn btn-default">注册</button>
        </a>
    </form>
</div>
