
@{
    ViewBag.Title = "register";
}

<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>这是注册页面</h1>
</div>
<h3>请完成注册：</h3>
<div>
    <form class="form-horizontal" role="form" action="~/Student/Account/doRegister" method="post">
        <div class="form-group">
            <label for="uid" class="col-sm-2 control-label">用户名：</label>
            <div class="col-lg-10">
                <input name="uname" type="text" class="form-control" id="uname" placeholder="请输出用户名" />
            </div>
        </div>
        <div class="form-group">
            <label for="pwd" class="col-lg-2 control-label">密码：</label>
            <div class="col-lg-10">
                <input type="text" name="pwd" class="form-control" id="pwd" placeholder="请输入密码" />
            </div>
        </div>
        <div class="form-group">
            <label for="pwd" class="col-lg-2 control-label">姓名：</label>
            <div class="col-lg-10">
                <input type="text" name="name" class="form-control" id="name" placeholder="姓名" />
            </div>
        </div>
        <button type="submit" class="btn btn-default">完成</button>
    </form>
</div>