
@{
    ViewBag.Title = "StudentMain";
}

<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>这是学生借阅图书页面：</h1>
</div>
<p>学生导航菜单</p>
<ul class="nav nav-pills">
    <li class="active"><a href="#">个人信息</a></li>
    <li class="active"><a href="#">书籍查询</a></li>
    <li class="active"><a href="#">书籍借阅</a></li>
    <li class="active"><a href="#">书籍归还</a></li>
</ul>